<div id="dashboard"></div>

<%= javascript_tag("
Ext.onReady(function() {
  var page = new Ext.Panel({
    region: 'north',
    split: true,
    html: 'xxx'
  });

  var contents = new Ext.TabPanel({
    defaults: {autoScroll: true},
    region: 'center',
    enableTabScroll: true,
    resizeTabs: true,
    minTabWidth: 30,
    tabWidth: 30,
    items: #{content_tabs_data(Page.find(:first)).to_json}
  });

  var page_content = new Ext.Panel({
    layout: 'border',
    autoScroll: true,
    region: 'center',
    items: [page, contents]
  });

  var root = new Ext.tree.AsyncTreeNode({
    id: 'root',
    expanded: true,
    children: #{page_tree_data.to_json}
  });
  var tree = new Ext.tree.TreePanel({
    root: root,
    id: 'page-tree',
    rootVisible: false,
    autoScroll: true,
    region: 'west',
    split: true,
    collapsible : true,
    title: 'Pages'
  });

  var dashboard = new Ext.Viewport({
    renderTo: 'dashboard',
    layout: 'border',
    items: [page_content, tree]
  });
});") %>
