html
{
  background-color: white;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

span.translation_missing
{
  color: red;
}


div#header h1
{
  font-size: xx-large;
  padding: 10px;
}

div#header ul
{
  position: absolute;
  right: 10px;
  top: 10px;
}

div#header ul li
{
  display: inline;
}

div.main
{
  margin-left: 21%;
}

div.sidebar
{
  width: 20%;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0 0.5%;
}

.current
{
  background-color: #eee;
}

iframe.content-preview
{
  width: 100%;
  height: 100%;
  border-style: none;
}

span.tab-language-icon
{
  background-position: center left !important;
}

.language-icon-bn
{
  background-image: url(../images/icons/bn-icon.gif) !important;
}

.language-icon-en
{
  background-image: url(../images/icons/en-icon.gif) !important;
}

.language-icon-es
{
  background-image: url(../images/icons/es-icon.gif) !important;
}

.language-icon-ja
{
  background-image: url(../images/icons/ja-icon.gif) !important;
}

.language-icon-ko
{
  background-image: url(../images/icons/ko-icon.gif) !important;
}

.language-icon-ms
{
  background-image: url(../images/icons/ms-icon.gif) !important;
}

.language-icon-ru
{
  background-image: url(../images/icons/ru-icon.gif) !important;
}

.language-icon-th
{
  background-image: url(../images/icons/th-icon.gif) !important;
}

.language-icon-vi
{
  background-image: url(../images/icons/vi-icon.gif) !important;
}

.language-icon-zh
{
  background-image: url(../images/icons/zh-icon.gif) !important;
}

div.main-content
{
  padding: 1em;
}

div.main-content textarea
{
  width: 100%;
}

div.main-content table,
div.main-content table tr,
div.main-content table tr th,
div.main-content table tr td
{
  border: 1px solid #ccc;
}

div.main-content table tr th
{
  padding: 5px;
  text-align: center;
}

div.main-content table tr td
{
  padding: 5px;
}

div.main-content p
{
  padding: 0.25em 0;
  margin-top: 0.25m;
  margin-bottom: 0.25m;
  line-height: 125%;
}

span.example
{
  color: #666;
}

div.main-content dl dd
{
  text-indent: 1em;
  margin-bottom: 0.5em;
}

div.main-content h2,
div.main-content h3,
div.main-content h4
{
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

div.main-content h2
{
  font-size: x-large;
}

div.main-content h3
{
  font-size: large;
}

div.main-content li
{
  margin: 0.25em 0;
}

div.main-content ul
{
  list-style-type: disc;
  margin-left: 1em;
}

div.main-content ol
{
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

div.main-content div.index
{
  margin-left: 1em;
  margin-bottom: 1em;
}

div#ftp-upload-status
{
  margin: 1em;
}

div.image-main img
{
  border: none;
}

div.image-list
{
  padding-top: 20px;
  padding-left: 20px;
  background: url(../images/top-left-border.png) no-repeat 5px 5px;
}

hr.clear
{
  visibility: hidden;
  clear: both;
}

div.image-list ul
{
  margin: 0;
  padding: 0;
}

div.image-list ul li
{
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
}

div.image-list ul li p
{
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  text-align: center;
}

div#flash-box
{
  position: absolute;
  top: 40px;
  left: 0;
  border: 2px solid #99BBE8;
  background-color: white;
  width: 100%;
  margin: 0px auto;
  padding: 1em 2em;
}

div#flash-box p
{
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

/* TinyMCE */
.defaultSkin span.mce_ruby
{
  background: url(../images/tiny_mce/ruby-icon.png) !important;
}
