<div id='page-info'>
<p>
<% if page.published? %>
  Published
<% else %>
  Draft
<% end %>
</p>
</div>

<%= javascript_tag("
var page_info = null;
Ext.onReady(function() {
  page_info = new Ext.Panel({
    region: 'north',
    title: #{h(page.name).to_json},
    split: true,
    tbar: [
      {
        text: #{t('Edit').to_json},
        handler: function() {document.location = #{edit_page_path(page).to_json}}
      }
    ],
    contentEl: 'page-info'
  });
})
") %>
