<div id='new-page' class='main-content'>
<%= render(:partial => "new_form", :locals => {:page => @page}) %>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{t("New Page").to_json},
    region: 'center',
    contentEl: 'new-page',
    tbar: [
      {
        text: #{t("Pages").to_json},
        handler: function () {
          document.location = #{pages_path.to_json};
        }
      }
    ]
  });
});
EOC
) %>

