<div id="content" class="main-content">
  <h2>ドキュメント</h2>
  <ul>
    <li><%= link_to(t("General usage"), general_usage_document_path) %></li>
    <li><%= link_to(t("Image upload"), image_upload_document_path) %></li>
    <li><%= link_to(t("FTP upload"), ftp_upload_document_path) %></li>
    <li><%= link_to(t("Experienced usage"), experienced_usage_document_path) %></li>
  </ul>
</div>
