<div id="content" class="main-content">
  <h2>ドキュメント</h2>
  <ul>
    <li><%= link_to(document_page_title("usage"), general_usage_document_path) %></li>
    <li><%= link_to(document_page_title("image"), image_upload_document_path) %></li>
    <li><%= link_to(document_page_title("ftp"), ftp_upload_document_path) %></li>
    <li><%= link_to(document_page_title("experienced"), experienced_usage_document_path) %></li>
  </ul>
</div>
