<div id="usage" class="main-content">
  <p>
    このサイトの使い方を説明します。
  </p>

  <h2>基本画面</h2>
  <p>
    画面は大きくわけて3つのエリアに分かれています。
  </p>
  <p>
    <%= image_tag("documents/base-components.png", :title => "ベース画面") %>
  </p>
  <ol>
    <li>
      <p>ヘッダ部分。左側にはトップページへのリンク、右側にはこのマニュアルへのリンクがある。</p>
    </li>
    <li>
      <p>ページ一覧部分。ページの一覧が表示される。ページを選択すると「メインコンテンツ部分」で編集・プレビューをすることができる。</p>
    </li>
    <li>
      <p>メインコンテンツ部分。作業を行う部分で、ページを編集したり、プレビューしたりするのはこの部分。</p>
    </li>
  </ol>

  <h2>基本的な使い方</h2>
  <p>
    効率よく作業をするために、サイト全体で統一した使い方ができます。
  </p>
  <p>
    <%= image_tag("documents/base-ui.png", :title => "ベースUI") %>
  </p>
  <ol>
    <li>
      <p>
        ページ一覧表示・非表示切り替え。
        この矢印をクリックすることにより、「ページ一覧部分」を表示したり、隠したりすることができます。
        「メインコンテンツ部分」でページを編集しているときなど、画面を広く使いたい場合は「ページ一覧部分」を隠すと便利です。
      </p>
    </li>
    <li>
      <p>
        ページ一覧部分サイズ調整。
        マウスを使って「ページ一覧部分」の幅を変更することができます。「ページ一覧部分」を表示したまま画面を広く使いたい場合に便利です。
      </p>
    </li>
    <li>
      <p>
       タイトル。「メインコンテンツ部分」は作業によって表示される内容が変わりますが、この「タイトル」は常にここに表示されています。「タイトル」を確認することで現在行っている作業を確認することができます。
      </p>
    </li>
    <li>
      <p>
        ツールバー。
        現在の作業に関連する他の操作を行うためのリンクを表示します。
        他の操作を行いたい場合は、まず、ここに望んだ操作がないか確認してください。
      </p>
    </li>
  </ol>
</div>


<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{t("Usage").to_json},
    region: 'center',
    contentEl: 'usage',
    autoScroll: true
  });
});
EOC
) %>
